/* Error: Undefined mixin.
 *    ,
 * 51 | /     @include mobile {
 * 52 | |       width: 72px;
 * 53 | |       height: 72px;
 * 54 | |       font-size: 24px;
 * 55 | \     }
 *    '
 *   Users.scss 51:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 51 \2502  \250c      @include mobile {\a 52 \2502  \2502        width: 72px;\a 53 \2502  \2502        height: 72px;\a 54 \2502  \2502        font-size: 24px;\a 55 \2502  \2514      }\a    \2575 \a   Users.scss 51:5  root stylesheet";
}
