/* Error: Undefined mixin.
 *    ,
 * 29 | /     @include mobile {
 * 30 | |       display: none;
 * 31 | \     }
 *    '
 *   Dashboard.scss 29:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 29 \2502  \250c      @include mobile {\a 30 \2502  \2502        display: none;\a 31 \2502  \2514      }\a    \2575 \a   Dashboard.scss 29:5  root stylesheet";
}
