/* Error: Undefined mixin.
 *    ,
 * 47 | /     @include mobile {
 * 48 | |       left: 16px;
 * 49 | |       bottom: 24px;
 * 50 | |       font-size: 14px;
 * 51 | \     }
 *    '
 *   Intro.scss 47:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 47 \2502  \250c      @include mobile {\a 48 \2502  \2502        left: 16px;\a 49 \2502  \2502        bottom: 24px;\a 50 \2502  \2502        font-size: 14px;\a 51 \2502  \2514      }\a    \2575 \a   Intro.scss 47:5  root stylesheet";
}
