/* Error: Undefined mixin.
 *    ,
 * 18 | /   @include tablet {
 * 19 | |     grid-template-columns: minmax(0, 1fr);
 * 20 | \   }
 *    '
 *   Admin.scss 18:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 18 \2502  \250c    @include tablet {\a 19 \2502  \2502      grid-template-columns: minmax(0, 1fr);\a 20 \2502  \2514    }\a    \2575 \a   Admin.scss 18:3  root stylesheet";
}
